[submodule "public"]
	path = public
	url = https://github.com/HeroCLOU/HeroCLOU.github.io.git
	branch = main
  [submodule "jane_themes_dimension"]
	path = jane_themes_dimension
	url = git://url-of-source/
	
